body {
    font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
    color: white;
    background-image: url("file:///Users/ro/Documents/GitHub/Portafolio/mi-portafolio/assets/img/hb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bienvenida {
    margin-top: 40%;
}

.card {
    border: none;
}